/*-------------- catalog-sect -----------------*/
.catalog-sect{
	margin: 20px 0;

	&__item{
		height: 270px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		overflow: hidden;
		text-decoration: none;
		border-bottom: none;
		margin-bottom: 28px;
		border: 0 solid $color-orange;
		transition: all 0.2s linear 0s;
	}
	
	&__img{
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.2s linear 0s;
	}

	&__text{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		font-family: $font-literata;
		@include font(normal, 500, rem(25px), 1.2, #fff);
		text-align: center;
		background: rgba(0,0,0,0.6);
		padding: 30px;
		position: relative;
		transition: all 0.2s linear 0s;
	}

	&__item:hover{
		border: 4px solid $color-orange;
		box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
	}

	&__item:hover &__img{transform: scale(1.05) translate(-50%, -50%);}

	&__item:hover &__text{
		width: auto;
		min-width: 250px;
		height: auto;
		color: $color-orange;
		background: rgba(0,0,0,0.7);
		margin: 20px;
	}
}