/*-------------- catalog-detail -----------------*/
.catalog-detail{
	&__article-wrap{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__article-wrap{margin-bottom: 9px;}
	
	&__article{
		@include font(normal, 500, rem(16px), 1.2, $color-text);
		margin-right: 10px;
	}

	&__sticker{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 36px;
		height: 36px;
		border-radius: 50%;
		background: #f3f2ef;
		@include font(normal, 300, rem(15px), 1, $color-brown);
	}

	&__price{
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		font-family: $font-literata;
		@include font(normal, 600, rem(30px), 1, $color-text);
		margin: 9px 0 25px;
	}

	&__old-price{
		@include font(normal, 600, rem(17px), 1.2, #808080);
		text-decoration: line-through;
		margin-right: 14px;
	}

	&__action{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin: 27px 0;

		.btn{
			margin-right: 14px;
		}

		.btn-star{margin-right: 30px;}
	}

	&__click{
		font-family: $font-literata;
		@include font(normal, 500, rem(17px), 1.2, $color-brown);
		text-decoration: none;
		border-bottom: none;
	}

	&__click:hover{text-decoration: underline;}

	&__main{margin-bottom: 50px;}

	&__info{
		.h1, h1{margin-bottom: 10px;}
	}
}

.catalog-params{
	@include font(normal, 300, rem(16px), 1.2, $color-text);

	&__item{
		display: flex;
		flex-wrap: wrap;
	}

	&__label{
		font-weight: bold;
		margin-right: 5px;
	}

	&__item:not(:last-child){margin-bottom: 15px;}

	.choose-param{margin-top: -3px;}
}

.choose-param{
	display: inline-flex;
	flex-wrap: wrap;

	.check-color{margin: 5px;}
}

.info-block-wrap{margin-bottom: 30px;}

.info-block{
	padding: 32px 0 35px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);

	&__title{
		font-family: $font-literata;
		@include font(normal, 600, rem(25px), 1.2, $color-text);
		margin-bottom: 10px;
	}

	&__content{
		line-height: 1.375;
		p{line-height: 1.375;}
		p:last-child{margin-bottom: 0;}
	}
}