/*-------------- form-site -----------------*/
.form-site{
	input[type="text"],
	input[type="email"],
	input[type="password"],
	textarea{
		display: inline-block;
		height: rem(50px);
		width: 100%;
		font-family: $font-site;
		@include font(normal, 500, rem(16px), rem(48px), $color-text);
		padding: 0;
		margin: 0;
		border: 0;
		box-shadow: none;
		border-bottom: solid 1px #dfdfdf;
		outline: 0;
		background: transparent;
		transition: all 0.2s ease 0s;
	}

	textarea{
		height: 120px;
		line-height: 1.2;
		padding: 15px 0;
	}

	input[type="text"]::placeholder,
	input[type="email"]::placeholder,
	input[type="password"]::placeholder,
	textarea::placeholder,
	input[type="text"]::-webkit-input-placeholder,
	input[type="email"]::-webkit-input-placeholder,
	input[type="password"]::-webkit-input-placeholder,
	textarea::-webkit-input-placeholder,
	input[type="text"]:-moz-placeholder,
	input[type="email"]:-moz-placeholder,
	input[type="password"]:-moz-placeholder,
	textarea:-moz-placeholder{
		font-weight: 300;
		color: $color-text;
		opacity: 1;
	}

	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="password"]:focus,
	textarea:focus{
		border-color: $color-orange;
	}

	input[type="text"].error,
	input[type="email"].error,
	input[type="password"].error,
	textarea.error{
		border-color: #ff0000;
	}

	&__head{
		font-family: $font-literata;
		@include font(normal, 600, rem(40px), 1.2, $color-text);
		letter-spacing: 0.6px;
		text-align: center;
		margin-bottom: 15px;
	}

	&__field_brown{
		input[type="text"],
		input[type="email"],
		input[type="password"],
		textarea{
			color: $color-brown;
		}
	}

	&__field:not(:last-child){margin-bottom: 12px;}

	&__btn{
		text-align: center;
		margin-top: 30px;
	}

	&__polit{
		max-width: 320px;
		margin: 27px auto 38px;

		.input-check{
			&__text{
				font-weight: 300;
				margin-left: 10px;
			}
		}
	}

	&_hor &__content{
		display: flex;
		justify-content: space-between;
	}

	&__col{width: calc(50% - 14px);}
	&__col &__field:not(:last-child){margin-bottom: 21px;}

	&__field_full,
	&__field_full textarea{
		height: 100%;
	}
}

.auth-confirm{display: none;}

.feedback-form{
	background: #f3f2ef;

	&__content{
		padding: 58px 0 40px;
		background: url(/assets/img/wood.png) no-repeat top left;
	}

	.form-site{
		&__polit{
			display: flex;
			justify-content: center;
			max-width: none;

			.input-check__text{max-width: none;}
		}
	}
}