/*-------------- form-coupon -----------------*/
.form-coupon{
	display: inline-flex;

	&__field{
		width: 396px;
		margin-right: 34px;
	}

	input[type="text"],
	input[type="email"]{
		display: inline-block;
		height: rem(50px);
		width: 100%;
		font-family: $font-site;
		@include font(normal, 500, rem(16px), rem(48px), $color-text);
		padding: 0;
		margin: 0;
		border: 0;
		box-shadow: none;
		border-bottom: solid 1px #999999;
		outline: 0;
		background: transparent;
		transition: all 0.2s ease 0s;
	}

	input[type="text"]::placeholder,
	input[type="email"]::placeholder,
	input[type="text"]::-webkit-input-placeholder,
	input[type="email"]::-webkit-input-placeholder,
	input[type="text"]:-moz-placeholder,
	input[type="email"]:-moz-placeholder{
		font-weight: 300;
		opacity: 1;
	}

	input[type="text"]:focus,
	input[type="email"]:focus,
	textarea:focus{
		border-color: $color-orange;
	}

	input[type="text"].error,
	input[type="email"].error{
		border-color: #ff0000;
	}

	.btn,
	input[type="submit"].btn,
	button.btn{
		min-width: 210px;
	}
}

@media (max-width: 767px) {
	.form-coupon{
		display: block;

		&__field{
			width: 100%;
			margin-bottom: 20px;
			margin-right: 0;
		}

		.btn,
		button.btn,
		input[type="submit"].btn{
			display: inline-block;
		}
	}
}