/*-------------- main-menu -----------------*/
.main-menu{
	font-family: $font-literata;

	&__list,
	&__item{
		@include reset-list;
		border-bottom: 1px solid #efeeeb;
	}

	&__list{
		display: flex;
		padding: 12px 0 15px;
	}

	&__item,
	&__link{
		@include font(normal, 500, rem(20px), 1.2, $color-text);
		text-decoration: none;
		text-align: center;
		border-bottom: none;
		transition: all 0.2s ease 0s;
	}

	&__link:hover{color: $color-brown;}
	&__item{padding: 0 8px;}
	&__item:not(:last-child){margin-right: 20px;}
}

@media (max-width: 1339px) {
	.main-menu{
		&__item:not(:last-child){margin-right: 18px;}

		&__item,
		&__link{
			font-size: rem(18px);
		}
	}
}

@media (max-width: 1219px) {
	.main-menu{
		&__item:not(:last-child){margin-right: 0;}

		&__item,
		&__link{
			font-size: rem(16px);
		}
	}
}

@media (max-width: 991px) {
	.main-menu{
		&__item,
		&__link{
			font-size: rem(13px);
		}
	}
}

@media (max-width: 767px) {
	.main-menu{display: none;}
}