/*-------------- news-list -----------------*/
.news-wrap{
	margin: 14px 0;
	
	h1, .h1{text-align: center;}
}

.news-list{
	display: flex;
	flex-wrap: wrap;
	margin-left: -14px;
	margin-right: -14px;

	&__item{
		width: calc(33.33% - 28px);
		margin: 0 14px 30px;
	}

	&__img-wrap{
		display: block;
		width: 100%;
		height: 270px;
		position: relative;
		overflow: hidden;
		margin-bottom: 16px;
		text-decoration: none;
		border-bottom: none;
	}

	&__img{
		display: block;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.2s ease 0s;
	}

	&__img-wrap:hover &__img{scale: 1.05;}

	&__title,
	&__title a{
		font-family: $font-literata;
		@include font(normal, 600, rem(18px), 1.2, $color-brown);
		letter-spacing: 0.4px;
		text-decoration: none;
		border-bottom: none;
	}

	&__title{margin-bottom: 12px;}
	&__title a:hover{text-decoration: underline;}

	&__text{
		@include font(normal, 300, rem(16px), 1.2, $color-text);
	}
}

@media (max-width: 991px) {
	.news-list{
		display: none;
		margin: 0;
		padding-bottom: 40px;

		&.slick-initialized{display: block;}

		&__item{margin: 0;}

		.slick-arrow{
			display: inline-block;
			width: 51px;
			height: 16px;
			padding: 0;
			margin: 0;
			border: 0;
			outline: 0;
			box-shadow: none;
			fill: $color-text;
			transition: all 0.2s ease 0s;
			position: absolute;
			bottom: 5px;
			cursor: pointer;
		}
		
		.slick-arrow:hover{fill: $color-orange;}
	
		.ic-slider-prev{left: calc(50% - 68px);}
		.ic-slider-next{right: calc(50% - 68px);}
	
		.slick-disabled,
		.slick-disabled:hover{
			opacity: 0.1;
			fill: $color-text;
			cursor: auto;
		}
	}
}

@media (max-width: 767px) {
	.news-wrap{
		margin-bottom: 45px;

		.h1, h1{margin-bottom: 25px;}
	}

	.news-list{
		&__img-wrap{height: 230px;}
	}
}