/*-------------- services -----------------*/
.services-wrap{
	padding-top: 55px;
	padding-bottom: 63px;
	margin: 70px 0;

	&__more{
		text-align: center;

		.btn{min-width: 258px;}
	}
}

.services{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -14px;

	&__item{
		width: calc(20% - 28px);
		margin: 14px;
		font-family: $font-literata;
		text-align: center;
	}


	&__icon{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 85px;
		height: 85px;
		border-radius: 50%;
		// background: $color-orange;
		text-decoration: none;
		border: 1px solid transparent;
		position: relative;
		transition: all 0.2s ease 0s;

		.icon{
			fill: #fff;
			transition: all 0.2s ease 0s;
			z-index: 1;
		}
	}

	&__icon::before{
		content: '';
		display: inline-block;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background: $color-orange;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin-top: -1px;
		transition: all 0.2s ease 0s;
	}

	&__text,
	&__text a{
		@include font(normal, 600, rem(18px), 1.2, $color-text);
		transition: all 0.2s ease 0s;
		text-decoration: none;
		border-bottom: none;
	}

	&__text{margin-top: 30px;}

	&__icon:hover{
		background: transparent;
		border: 1px solid $color-brown;

		.icon{fill: $color-brown;}
	}

	&__icon:hover::before{
		width: 0;
		height: 0;
	}

	&__text a:hover{color: $color-brown;}
}