/*-------------- slider-offer -----------------*/
.slider-offer{
	padding: 32px 0;

	h1, .h1{padding-right: 170px;}

	.catalog-list{
		display: none;
	
		&.slick-initialized{display: block;}
		.slick-slide{margin: 0 14px;}

		&__item{
			width: 100%;
			margin: 0;
		}
	}
}