/*-------------- slider-offer -----------------*/
.slider-offer{
	margin: 32px 0;

	&_indent{
		margin: 0;
		padding: 51px 0 71px;
	}

	h1, .h1{padding-right: 170px;}

	.catalog-list{
		display: none;
	
		&.slick-initialized{display: block;}
		.slick-slide{margin: 0 14px;}

		&__item{
			width: 100%;
			margin: 0;
		}
	}
}

@media (max-width: 767px) {
	.slider-offer{
		padding-bottom: 30px;

		.catalog-list{
			padding-bottom: 45px;

			.slick-slide{margin: 0;}
		}

		h1, .h1{
			text-align: center;
			padding-right: 0;
		}

		.slick-arrow{
			top: auto;
			bottom: 5px;
		}

		.ic-slider-prev{left: calc(50% - 68px);}
		.ic-slider-next{right: calc(50% - 68px);}
	}

	.offer{
		h1, .h1{
			text-align: center;
			margin-bottom: 10px;
		}

		&__more{
			font-family: $font-literata;
			@include font(normal, 600, rem(18px), 1.2, $color-brown);
			text-align: center;
			transition: all 0.2s ease 0s;
			letter-spacing: 0.3px;
			margin-top: 12px;

			a{
				text-decoration: none;
				border-bottom: none;
				transition: all 0.2s ease 0s;
			}

			a:hover{color: $color-orange;}
		}
	}
}