/*-------------- top-menu -----------------*/
.top-menu{
	display: flex;

	&,
	&__item{
		@include reset-list;
	}

	&__item,
	&__link{
		@include font(normal, 500, rem(16px), 1.2, $color-brown);
		text-decoration: none;
		border-bottom: none;
	}

	&__item{position: relative;}
	&__item:not(:last-child){margin-right: 40px;}

	&__arr{
		display: inline-block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 4px 4px 0 4px;
		border-color: $color-brown transparent transparent transparent;
		margin-left: 5px;
		position: absolute;
		top: 7px;
		right: -14px;
	}

	&__sub{display: none;}
}