section.about
	.container
		.row.align-items-center
			.col-md-6.order-1.order-md-0
				.about__text
					.slice-text.js-slice-text
						p В интернет-магазине KOMISSIONKA вы найдёте подлинную дизайнерскую мебель и предметы интерьера от российских и европейских мебельных фабрик. Активно сотрудничаем с дизайнерами и компаниями. Посетите шоу-рум в Москве и лично убедитесь в качестве изделий.
						p Не стесняйтесь звонить или писать письма — <b>+7 (499) 399-38-65</b>, <a href="mailto:info@thefields.ru">info@thefields.ru</a>. Шоу-рум работает c понедельника по субботу, с 10 до 19 часов. Интернет-магазин работает круглосуточно. В разделе «Помощь» вы найдёте ответы на самые частые вопросы.
						p Впрочем, даже антураж исторического здания меркнет в сравнении с практически музейной экспозицией самого «Артефакта». Представленные здесь образцы мебели эксперты магазина лично разыскивают и приобретают в семейных мастерских, порой расположенных в самых дальних уголках Индии. Это дает возможность истинным эстетам Петербурга не только подобрать колоритный предмет для собственного интерьера, но и проследить, как меняются эстетические взгляды и принципы индийских мастеров от севера к югу страны. Дополняет коллекцию магазина мебель из Непала, столь же выразительная и самобытная.
						p Тем не менее сориентироваться в ассортименте магазина будет несложно: для этого создатели экспозиции условно поделили пространство по «темам». Так, на первом этаже стоит задержаться охотникам за настоящими древностями — возраст представленных здесь предметов мебели, дверей и даже колонн в некоторых случаях доходит до 500 лет! Это, в общем, неудивительно, если принять во внимание, что Индия сказочно богата драгоценной древесиной — палисандром и тиком. Именно тик в свое время служил основным материалом для обшивки домов, которые сегодня зачастую разбираются в присутствии дизайнеров и мебельных мастеров. Сохраняя роскошную фактуру старинных досок, которые с годами делаются лишь крепче, мастера затем перепиливают их, создавая уникальные современные изделия с антикварными элементами. В результате на рынке появляются дивные комоды со старинной резьбой, некогда украшавшей купеческий балкон, или же шкафы со следами краски, нанесенной мастером сотни лет назад
			
			.col-md-6
				.about__img
					img(src="/assets/img/about.jpg", alt="")