section.feedback-form.last-elem
	.container
		.row
			.col-12
				.feedback-form__content
					.row
						.col-8.offset-4
							form.form-site.form-site_hor
								.form-site__head Форма обратной связи

								.form-site__content
									.form-site__col
										.form-site__field
											input(type='text', placeholder='Имя', required='required')

										.form-site__field
											input(type='text', placeholder='Телефон' , class="js-phone", required='required')

										.form-site__field
											input(type='email', placeholder='E-mail')

									.form-site__col
										.form-site__field.form-site__field_full
											textarea(placeholder='Текст сообщения')

								.form-site__polit
									.input-check
										input#polit2(type='checkbox', checked='checked', required='required')
										label.input-check__label(for='polit2')
											span.input-check__mark
												
											span.input-check__text Я даю согласия с Политикой обработки персональных данных

								.form-site__btn
									button.btn.btn_border(type='submit')
										span.btn__text Отправить