/* Lato */
@font-face {
	font-family: 'Lato';
	src: url('#{$path-fonts}/Lato/Lato-Regular.eot');
	src: local('Lato Regular'), local('Lato-Regular'),
		url('#{$path-fonts}/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/Lato/Lato-Regular.woff') format('woff'),
		url('#{$path-fonts}/Lato/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('#{$path-fonts}/Lato/Lato-SemiboldItalic.eot');
	src: local('Lato Semibold Italic'), local('Lato-SemiboldItalic'),
		url('#{$path-fonts}/Lato/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/Lato/Lato-SemiboldItalic.woff') format('woff'),
		url('#{$path-fonts}/Lato/Lato-SemiboldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('#{$path-fonts}/Lato/Lato-MediumItalic.eot');
	src: local('Lato Medium Italic'), local('Lato-MediumItalic'),
		url('#{$path-fonts}/Lato/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/Lato/Lato-MediumItalic.woff') format('woff'),
		url('#{$path-fonts}/Lato/Lato-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('#{$path-fonts}/Lato/Lato-Medium.eot');
	src: local('Lato Medium'), local('Lato-Medium'),
		url('#{$path-fonts}/Lato/Lato-Medium.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/Lato/Lato-Medium.woff') format('woff'),
		url('#{$path-fonts}/Lato/Lato-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('#{$path-fonts}/Lato/Lato-Italic.eot');
	src: local('Lato Italic'), local('Lato-Italic'),
		url('#{$path-fonts}/Lato/Lato-Italic.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/Lato/Lato-Italic.woff') format('woff'),
		url('#{$path-fonts}/Lato/Lato-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('#{$path-fonts}/Lato/Lato-Semibold.eot');
	src: local('Lato Semibold'), local('Lato-Semibold'),
		url('#{$path-fonts}/Lato/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/Lato/Lato-Semibold.woff') format('woff'),
		url('#{$path-fonts}/Lato/Lato-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('#{$path-fonts}/Lato/Lato-Bold.eot');
	src: local('Lato Bold'), local('Lato-Bold'),
		url('#{$path-fonts}/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/Lato/Lato-Bold.woff') format('woff'),
		url('#{$path-fonts}/Lato/Lato-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('#{$path-fonts}/Lato/Lato-BoldItalic.eot');
	src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
		url('#{$path-fonts}/Lato/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/Lato/Lato-BoldItalic.woff') format('woff'),
		url('#{$path-fonts}/Lato/Lato-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('#{$path-fonts}/Lato/Lato-LightItalic.eot');
	src: local('Lato Light Italic'), local('Lato-LightItalic'),
		url('#{$path-fonts}/Lato/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/Lato/Lato-LightItalic.woff') format('woff'),
		url('#{$path-fonts}/Lato/Lato-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('#{$path-fonts}/Lato/Lato-Light.eot');
	src: local('Lato Light'), local('Lato-Light'),
		url('#{$path-fonts}/Lato/Lato-Light.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/Lato/Lato-Light.woff') format('woff'),
		url('#{$path-fonts}/Lato/Lato-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

/* Literata */
@font-face {
    font-family: 'Literata';
    src: local('Literata SemiBold'), local('Literata-SemiBold'), url('#{$path-fonts}/Literata/Literatasemibold.woff2') format('woff2'), url('#{$path-fonts}/Literata/Literatasemibold.woff') format('woff'), url('#{$path-fonts}/Literata/Literatasemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Literata';
    src: local('Literata Medium'), local('Literata-Medium'), url('#{$path-fonts}/Literata/Literatamedium.woff2') format('woff2'), url('#{$path-fonts}/Literata/Literatamedium.woff') format('woff'), url('#{$path-fonts}/Literata/Literatamedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Literata';
    src: local('Literata Medium Italic'), local('Literata-MediumItalic'), url('#{$path-fonts}/Literata/Literatamediumitalic.woff2') format('woff2'), url('#{$path-fonts}/Literata/Literatamediumitalic.woff') format('woff'), url('#{$path-fonts}/Literata/Literatamediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Literata';
    src: local('Literata Italic'), local('Literata-Italic'), url('#{$path-fonts}/Literata/Literataitalic.woff2') format('woff2'), url('#{$path-fonts}/Literata/Literataitalic.woff') format('woff'), url('#{$path-fonts}/Literata/Literataitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Literata';
    src: local('Literata Regular'), local('Literata-Regular'), url('#{$path-fonts}/Literata/Literataregular.woff2') format('woff2'), url('#{$path-fonts}/Literata/Literataregular.woff') format('woff'), url('#{$path-fonts}/Literata/Literataregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Literata';
    src: local('Literata SemiBold Italic'), local('Literata-SemiBoldItalic'), url('#{$path-fonts}/Literata/Literatasemibolditalic.woff2') format('woff2'), url('#{$path-fonts}/Literata/Literatasemibolditalic.woff') format('woff'), url('#{$path-fonts}/Literata/Literatasemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Literata';
    src: local('Literata Bold Italic'), local('Literata-BoldItalic'), url('#{$path-fonts}/Literata/Literatabolditalic.woff2') format('woff2'), url('#{$path-fonts}/Literata/Literatabolditalic.woff') format('woff'), url('#{$path-fonts}/Literata/Literatabolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Literata';
    src: local('Literata Bold'), local('Literata-Bold'), url('#{$path-fonts}/Literata/Literatabold.woff2') format('woff2'), url('#{$path-fonts}/Literata/Literatabold.woff') format('woff'), url('#{$path-fonts}/Literata/Literatabold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Literata';
    src: local('Literata Black'), local('Literata-Black'), url('#{$path-fonts}/Literata/Literatablack.woff2') format('woff2'), url('#{$path-fonts}/Literata/Literatablack.woff') format('woff'), url('#{$path-fonts}/Literata/Literatablack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Literata';
    src: local('Literata Black Italic'), local('Literata-BlackItalic'), url('#{$path-fonts}/Literata/Literatablackitalic.woff2') format('woff2'), url('#{$path-fonts}/Literata/Literatablackitalic.woff') format('woff'), url('#{$path-fonts}/Literata/Literatablackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Literata';
    src: local('Literata Extra'), local('Literata-Extra'), url('#{$path-fonts}/Literata/Literataextralight.woff2') format('woff2'), url('#{$path-fonts}/Literata/Literataextralight.woff') format('woff'), url('#{$path-fonts}/Literata/Literataextralight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Literata';
    src: local('Literata Extra Italic'), local('Literata-ExtraItalic'), url('#{$path-fonts}/Literata/Literataextralightitalic.woff2') format('woff2'), url('#{$path-fonts}/Literata/Literataextralightitalic.woff') format('woff'), url('#{$path-fonts}/Literata/Literataextralightitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
