html,
body{
	background: #fff;
	font-family: $font-site;
	@include font(normal, normal, 16px, 1.6, $color-text);
	box-sizing:border-box;
	height:100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-size: inherit;
	font-family: inherit;
}

img{max-width: 100%;}

a{
	color: $color-brown;
	text-decoration: none;
	border-bottom: 2px dotted $color-brown;
}

a:hover{border-bottom: none;}

p{
	padding: 0;
	margin: 0 0 15px;
	line-height: 1.2;
	letter-spacing: -0.15px;
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5
{
	font-family: $font-literata;
	font-weight: 600;
	line-height: 1.4;
	color: $color-text;
}

h1,.h1{
	font-size: rem(40px);
	letter-spacing: 0.6px;
	margin-bottom: 30px;
}

h2,.h2{
	font-size: rem(30px);
	margin-bottom: 20px;
}

h3,.h3{
	font-size: rem(25px);
	text-transform: uppercase;
	margin-bottom: 10px;
}

h4,.h4{
	font-size: rem(20px);
	margin-bottom: 10px;
}

h5,.h5{
	font-size: rem(18px);
	margin-bottom: 0;
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

main{
	flex: 1 1 auto;
	padding-bottom: 102px;
	width: 100%;
}

.btn,
input[type="submit"].btn,
button.btn{
	display: inline-block;
	height: rem(50px);
	background: transparent;
	border: none;
	outline: none;
	font-family: $font-literata;
	@include font(normal, 500, rem(17px), rem(48px), #fff);
	padding: 0 30px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	min-width: 200px;
	position: relative;
	overflow: hidden;
  	box-shadow: none;
	transition: color 0.5s, transform 0.2s, background-color 0.2s;
}

.btn::before{
	content: "";
	width: 100%;
	height: 100%;
	background-color: $color-orange;
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity 0.3s, border 0.3s;
}

.btn::after {
  content: "";
  width: 320px;
  height: 320px;
  background-color: $color-dark-orange;
  border-color: transparent;
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.btn__text{
	position: relative;
	z-index: 1;
}

.btn:hover::before{opacity: 0;}

.btn:hover::after {
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
}

.btn:hover,
input[type="submit"].btn:hover,
button.btn{
	color: #fff;
}

.btn_small,
input[type="submit"].btn_small,
button.btn_small{
	height: rem(45px);
	min-width: 176px;
	line-height: rem(43px);
}

.btn_border,
input[type="submit"].btn_border,
button.btn_border{
	color: $color-text;
	border: 1px solid $color-text;
}

.btn_border::before{background-color: transparent;}
.btn_border::after{background-color: $color-text;}

.btn_border:hover,
input[type="submit"].btn_border:hover,
button.btn_border:hover{
	color: #fff;
}

.code{
	background-color: #f7f7f7;
	border: 1px solid #e1e1e8;
	color: #d14;
	padding: 1px 4px;
	display: inline-block;
	font-family: monospace, arial;
	border-radius: 3px;
}

.text-left{text-align: left !important;}
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.text-justify{text-align: justify !important;}
.text-uppercase{text-transform: uppercase !important;}
.text-bold {font-weight: 700 !important;}

hr{
	padding: 0;
	height: 1px;
	background: none;
	border: 0;
	border-top: 1px solid rgba(0,0,0,0.1);
	margin: 20px 0;
}

.bg-grey{background: #f3f2ef;}