footer.footer
	.container
		.row
			.col-12
				form.form-subcribe
					.form-subcribe__title Подписка на e-mail рассылку

					.form-subcribe__content
						.form-subcribe__field
							input(type="email", placeholder="Введите Ваш e-mail", required="required")

						button.btn.btn_border(type="submit")
							span.btn__text Подписаться


				.footer-info
					.footer-info__logo
						a(href="#")
							img(src="/assets/img/logo-white.svg", alt="")

				
					ul.footer-menu
						-
							var list=[
								'О нас',
								'Услуги',
								'Оплата',
								'Отзывы',
								'Возврат',
								'Дизайнерам',
								'Акции',
								'Блог',
								'Контакты',
								'Доставка',
							]
						each item in list
							li.footer-menu__item
								a(href="#").footer-menu__link= item

					.footer-info__action
						.social-white
							-
								var list=[
									{icon:'ic-instagram', width:'15', height:'15'},
									{icon:'ic-facebook', width:'7', height:'15'},
									{icon:'ic-vk', width:'17', height:'9'},
									{icon:'ic-telegram', width:'15', height:'15'},
								]
							each item in list
								a(href="#").social-white__item
									+svg(item.icon, item.icon, item.width, item.height)

						.footer-pay
							.footer-pay__label Мы принимаем:

							.footer-pay__list
								a(href="#").footer-pay__item
									img(src="/assets/img/mastercard.png", alt="")
								a(href="#").footer-pay__item
									img(src="/assets/img/visa.png", alt="")
								a(href="#").footer-pay__item
									img(src="/assets/img/mir.png", alt="")

					.footer-contacts
						a(href="tel:+78009004541").footer-contacts__phone 8 (800) 900-45-41
						br
						a(href="mailto:info-komissionka@gmail.com").footer-contacts__mail info-komissionka@gmail.com
						.footer-contacts__address СПб, Английский пр, 24
						.footer-contacts__time Время работы Пн-Вс с 09:00 до 20:00

				.footer-bottom
					.footer-bottom__copyright © 2020 Все права защищены

					.footer-bottom__polit
						a(href="#") Политика конфиденциальности

.popup#search-popup
	.popup__content
		.h2 Поиск по сайту

		.popup__main
			form.form-search
				input(type='text', placeholder='Поиск по сайту', required='required')
				button(type='submit')
					+svg('ic-search','ic-search', '24', '24')

.popup#auth-popup
	.popup__content
		.h2 Авторизация / регистрация

		.popup__main
			.auth-form.js-auth-form
				form.form-site
					.form-site__content
						.form-site__field
							input(type='text', placeholder='Телефон', required='required', class="js-phone")

					.form-site__btn
						button.btn.btn_border(type='submit')
							span.btn__text Получить смс


			.auth-confirm.js-auth-confirm
				form.form-site
					.form-site__content
						.form-site__field.form-site__field_brown
							input(type='text', disabled='disabled', class="js-phone")

						.form-site__field
							input(type='text', placeholder='Код который пришел в sms', required='required')

					.form-site__polit
						.input-check
							input#polit(type='checkbox', checked='checked', required='required')
							label.input-check__label(for='polit')
								span.input-check__mark
									
								span.input-check__text Я даю согласия с Политикой обработки персональных данных

					.form-site__btn
						button.btn.btn_border(type='submit')
							span.btn__text Войти / зарегистрироваться
